h2 {
    text-align: center; background-color: darkred; color: white; width: 90%;
}
fieldset{
    
    width: 75%;
    color: darkred; 
    text-align: left;   
    border-color: darkred;
}
table{
    width: 100%;  
}
legend{
    color: darkred; 
    font-size: 14px
}
#td1 {
    
    text-align: right; 
    background-color: darkred; 
    color: white; 
    width: 30%;
}

#td2 {
    text-align: left; 
    border-bottom-color: transparent; 
    width: 70%;
    color: black;
}
option{
    background-color: orangered;
}