/2Trimestre/Entornos/practicaJunit/JavaApplication2/nbproject/private/
/2Trimestre/Entornos/practicaJunit/JavaApplication2/build/
/2Trimestre/Entornos/numeroPrimo/nbproject/private/
/2Trimestre/Entornos/numeroPrimo/build/
2Trimestre/Programacion/UT4y5Ventas/.idea/workspace.xml
2Trimestre/Programacion/Ahorcado/.idea/workspace.xml
2Trimestre/Programacion/Ahorcado/.idea/workspace.xml
2Trimestre/Programacion/Vectores3/.idea/workspace.xml
2Trimestre/Programacion/Ahorcado/.idea/workspace.xml
2Trimestre/chuleta/.idea/workspace.xml
2Trimestre/Programacion/tresenraya/.idea/workspace.xml
3erTrimestre/Programacion/untitled1/.idea/workspace.xml
3erTrimestre/Programacion/Cuentas-Objetos1819/.idea/workspace.xml
3erTrimestre/LenguajedeMarcas/XMLEjercicios/.idea/workspace.xml
