.cabecera
{
    text-decoration-color: azure;
    background-color: darkblue;  
}
.header
{
    text-decoration-color: aliceblue;    color: azure;
}
.naveg
{
    background-color:darkslateblue;
}
.container
{
    background-color: gray;
}