.cabecera
{
    text-decoration-color: azure;
    background-color: darkblue;  
}
.header
{
    text-decoration-color: aliceblue;    color: azure;
}
.naveg
{
    background-color:darkslateblue;
}
.container
{
    background-color: gray;
    border:1px;
    border-style: solid;
}

.h1
{
 background-color: gray;
}
article
{
    background-color: white;
    border-color: gray;
    border-style: solid;
    
}
.contenedor
{
    background-color: gray;
    width: 80%;
    
    float :left;
}
.right
{
    background-color: gray;
    float: right;   
    width: 20%;
    padding-top: 2%;
}
footer
{
    text-decoration-color: aliceblue;
    background-color: azure;
    float: left;
    clear: both;
}