.cabecera
{
    text-decoration-color: azure;
    background-color: darkblue;  
}
.header
{
    text-decoration-color: aliceblue;    color: azure;
}
.naveg
{
    background-color:darkslateblue;
}
.container
{
    background-color: gray;
    border:1px;
    border-style: solid;
}
.right
{
    background-color: gray;
    
    width: 20%;
}
.h1
{
 background-color: gray;
}
article
{
    background-color: white;
    border-color: gray;
    border-style: solid;
    
}